.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 78px;
    width: 100%;
    box-sizing: border-box;
    transition: all 200ms ease;
    backface-visibility: hidden;
    background: #353535;
    // background: url('../../assets/img/purple-blue.png') no-repeat top center,linear-gradient(to right, #502070 0%, #2f3c90 100%);
    z-index: 1000;
    .logo {
        position: relative;
        z-index: 4;
        display: inline-block;
        margin: 20px;
        width: 44px;
        height: 38px;
        text-indent: -9999px;
        background: url(https://s3-us-west-1.amazonaws.com/ui8/v5/new-assets/ui8.svg) no-repeat 0 0/44px 38px;
    }
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 85px;
    padding: 0 20px 0 0px;
    width: calc(100% - 85px);
    height: 100%;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.nav {
    position: relative;
    z-index: 4;
    margin: 0 20px 0 0;
    float: left;
}

.nav_item {
    display: block;
    float: left;
    margin: 0 28px 0 0;
    padding: 35px 0 0 0;
    position: relative;
}

.nav_item_a {
    display: block;
    line-height: 1;
    font-weight: 400;
    color: #AFAFAF;
    text-decoration: none;
    font-size: 13px;
}

.selected {
    color: #fff;
    text-decoration:none;
}